/* Declaring custom properties */
:root {
  --potato-height: 400px;
  --potato-width: 400px;
  background-image:url(sky.jpg);
}

* { box-sizing: border-box; }



#playground {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;


}

.potato {
  /* centramos verticalmente la patata */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la patata */
  height: var(--potato-height);
  width: var(--potato-width);

  margin-bottom: 50em;

}
.hats {
  /* centramos verticalmente las orejas */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente las orejas */

  top: -10em;
  right: 10em;
}
.hat {
    position: relative;
    border-radius: 5em;
    background-color: black;
    border: solid darkgrey;
    animation: h456 20s infinite;
    animation-delay: 1s;
    }



    @keyframes h456 {
    0%   {;top: ; width: ;height: px;}
    25% {;transform: rotateZ(90deg);top: ; width: ;height: px;}
    50%  {;transform: rotateZ(90deg);background-color: grey ;border: solid black; width: px ;height: 120px;z-index: 0}
    100% {;;width:px ;height:px;}

  }
  .h1 {
    left: 36px;
    float: left;
    height: 6em;
    width: 20em;
    top: 8em;
    z-index: 4;
  }

  .h2 {
    right: -36px;
    float: right;
    height: 10em;
    width: 10em;
    top: -4em;
  }
.ears {
  /* centramos verticalmente las orejas */
  position: relative;
  left: 0;
  right: 0;

  margin: 0 auto;
  /* fin centrar verticalmente las orejas */

  top: 5em;

}
.ear {
    position: relative;
    height: 15em;
    width: calc(var(--potato-width) / 3);
    border-radius: 50%;
    background-color: pink;
    border:  solid black;
    animation: h45 20s infinite;
    animation-delay: 1s;
    }



    @keyframes h45 {
    0%   {;top: ; width: ;height: px;}
    25% {;transform: rotateZ(90deg);top: ; width: ;height: px;}
    50%  {;transform: rotateZ(90deg);background-color: grey;width:px ;height:590px;}
    100% {;;width:px ;height:px;}

  }
  .right-ear {
    right: -5em;
    float: right;

  }

  .left-ear {
    left: -5em;
    float: left;
  }

.head {
  height: 33em;
  width: var(--potato-width);
  border-radius: 50%;
  background-color: #cc6600;
  margin: 0 auto;
  position: relative ;
  border:  solid black;
  animation: h 20s infinite;
  animation-delay: 1s;
  }



  @keyframes h {
  0%   {;top: ; width: ;height: px;}
  25% {;transform: rotateZ(90deg);top: ; width: ;height: px;}
  50%  {;transform: rotateZ(90deg);background-color: lightgrey; width: px ;height:590px;}
  100% {;;width:px ;height:px;}




}



.eyes {
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  top: 5em;


}

.eye {
  position: relative;
  height: 12em;
  width: calc(var(--potato-width) / 3);
  border-radius: 50%;
  background-color: white;
  border:  solid black;
  animation: ho 10s infinite;
  animation-delay: 1s;
  }



  @keyframes ho  {
  0%   {;transform: rotateZ(0deg);top: ; width: ;height: px;}
  25% {;transform: rotateZ(deg);top: ; width: ;height: px;}
  50%  {;transform: rotateX(360deg);background-color: lightgreen;width:px ;height:px;}
  100% {;transform: rotateZ(0deg);width:px ;height:px;}
}

.pupil {
  height: 70px;
  width: 50px;
  border-radius: 50%;
  border: solid black;
  background-color: black;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: pupi 20s infinite;
  animation-delay: 1s;
  }



  @keyframes pupi {
  0%   {;top: 0; width: px;
  height: px;}
  50%  {;top:0;background-color: ;width:126px;
  height: 180px;}
  100% {;top:0;width: px;
  height: px;}
}

.left-eye {
  left: 4em;
  float: left;

}

.right-eye {
  right: 4em;
  float: right;
}
.nose {
  height: 10em;
  width: 50%;
  border-radius: 50%;
  background-color: red;
  border:  solid black;
  margin: 0 auto;
  position: relative;
  top: -20em;
  z-index: 1;
  animation: h70 20s infinite;
  animation-delay: 1s;

  background-position: left;
  }



  @keyframes h70 {
  0%   {;top: ; width: ;height: px;}
  25% {;transform: rotateZ(90deg);top: ; width: ;height: px;}
  50%  {;transform: rotateZ(90deg);background-color: lightgrey ;width:400px ;height:400px;border-color: black; background-image:url("plane.gif");}
  100% {;;width:px ;height:px;}
}
.moustache{
  position: relative;
  width: 250px;
    height: 125px;
    border: 2px solid black;
    background: black;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    top: -380;
    left: 74px;
    animation: h32 20s infinite;
    animation-delay: 1s;
    }



    @keyframes h32 {
    0%   {;top: ; width: ;height: px;}
    25% {;transform: rotateZ(180deg);top: ; width: ;height: px;}
    50%  {;transform: rotateZ(180deg);background-color: transparent ;border: transparent ;width: 1px ;height:1px;}
    100% {;;width:px ;height:px;}
}
.mouth{
  height: 5em;
  width: 50%;
  border-radius: 50%;
  background-color: white;
  border:  solid darkred;
  margin: 0 auto;
  position: relative;
  top: -425px;
  animation: h23 20s infinite;
  animation-delay: 1s;
  }



  @keyframes h23 {
  0%   {;top: ; width: ;height: px;}
  25% {;transform: rotateZ(180deg);top: ; width: ;height: px;}
  50%  {;transform: rotateZ(180deg);background-color: transparent ;border: transparent ;width: 1px ;height:1px;}
  100% {;;width:px ;height:px;}
}
.shoes {
  /* centramos verticalmente las orejas */
  position: absolute;
  left: 0;
  right: 0;

  margin: 0 auto;
  /* fin centrar verticalmente las orejas */

  top: 28em;

}
.right-shoe {
     width: 200px;
     height: 100px;
     border: 3px solid black;
     background: #0099ff;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 50px 100px 0 0;
     position:relative;
     left: 225px;
     bottom: -30px;
     animation: L 20s infinite;
     animation-delay: 1s;
     }



     @keyframes L {
     0%   {;transform: rotateZ(deg);top: ; width:  ;height: px;}
     25%   {;transform: rotateZ(deg);top: ; width:  ;height: px;}
     50%  {;transform: rotateZ(180deg);background-color:black;width:200px ;height:200px; border-radius: 100px ;top: px ;}
     75%   {;transform: rotateZ(deg);top: ;background-color:; width:  ;height: px;}
     100% {;transform: rotateZ(deg);width:px ;height:px;}
}

.left-shoe {
     width: 200px;
     height: 100px;
     border: 3px solid black;
     background: #0099ff;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 50px 0 0;
     position:relative;
     left: -35px;
     bottom: 70px;
     animation: R 20s infinite;
     animation-delay: 1s;
     }



     @keyframes R {
     0%   {;transform: rotateZ(deg);top: ; width:  ;height: px;}
     25%   {;transform: rotateZ(deg);top: ; width:  ;height: px;}
     50%  {;transform: rotateZ(180deg);background-color:black ;width: 200px;height: 200px;border-radius: 100px ;top: -170px  ;}
     75%   {;transform: rotateZ(deg);top: ; width:  ;height: px;}
     100% {;transform: rotateZ(deg);width:px ;height:px;}
}
